
body {
    background-image: url('../../data/images/hosaholalu_garudagamana.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white; 
    font-family: sans-serif;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255, 255, 0.6); /* Adjust opacity here */
        pointer-events: none; /* Keeps overlay from blocking clicks */
        z-index: -1;
    }

html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Forces full viewport height */
    width: 100vw; /* Ensures full horizontal coverage */
    overflow-x: hidden;
    color: white;
}

.literature-list a {
    text-decoration: none;
}

.literature-list a:hover {
    text-decoration: underline;
}
